@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(..fonts/DOHAK8DimZJeSQQDpH-4yw.eot);
  src: local('Arvo'), url(../fonts/DOHAK8DimZJeSQQDpH-4yw.eot) format('embedded-opentype'), url(../fonts/WJ6D195CfbTRlIs49IbkFw.woff) format('woff');
}
